{% extends "pet_shop/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pet_shop/css/about.css' %}">
{% endblock %}
{% block content %}

<div class="container about-container">
        {% if company %}
            {% if company.logo %}
                <div class="logo-center">
                    <img src="{% static company.logo.url %}" alt="Логотип">
                </div>
            {% endif %}

            <h2>{{ company.name }}</h2>

            <div class="info-block">
                <h3>Информация о компании</h3>
                <p>{{ company.description|linebreaks }}</p>
            </div>

            {% if company.video %}
                <div class="info-block video-block">
                    <h3>Видео</h3>
                    <div class="video-wrapper">
                        <video controls class="company-video">
                            <source src="{% static company.video.url %}" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                </div>
            {% endif %}

            {% if company.history %}
                <div class="info-block history-block">
                    <h3>История по годам</h3>
                    <div class="history-list">
                        {{ company.history|linebreaks }}
                    </div>
                </div>
            {% endif %}

            {% if company.requisites %}
                <div class="info-block requisites-block">
                    <h3>Реквизиты</h3>
                    <div class="requisites-content">
                        {{ company.requisites|linebreaks }}
                    </div>
                </div>
            {% endif %}

            {% if company.certificate %}
                <div class="info-block certificate-block">
                    <h3>Сертификат</h3>
                    <div class="certificate-content">
                        {{ company.certificate|linebreaks }}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="no-info">
                Информация о компании временно недоступна
            </div>
        {% endif %}
    </div>
{% endblock %}