{% extends "pet_shop/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pet_shop/css/glossary.css' %}">
{% endblock %}
{% block content %}

<div class="container faq-container">
    <div class="glossaries">
        <h3 class="faq-title">Словарь терминов и понятий</h3>

        {% if glossaries %}
        <div class="faq-list">
            {% for n in glossaries %}
            <div class="faq-item">
                <input type="checkbox" id="faq-{{ n.id }}" class="faq-checkbox">

                <label for="faq-{{ n.id }}" class="faq-question">
                    <span class="faq-question-text">{{ n.text }}</span>
                    <span class="faq-date-badge" title="Дата добавления: {{ n.date|date:"d.m.Y H:i" }}">
                        {{ n.date|date:"d.m.Y" }}
                    </span>
                </label>

                <div class="faq-answer">
                    {{ n.answer|linebreaks }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="no-faq">
            Пока нет вопросов и ответов
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}