{% extends "pet_shop/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pet_shop/css/vacancies.css' %}">
{% endblock %}
{% block content %}

<div class="container vacancies-page">
    <div class="vacancies">
        <h3 class="vacancies-title">Наши вакансии</h3>

        {% if vacancies %}
        <div class="vacancies-container">
            {% for n in vacancies %}
            <div class="vacancy-card">
                <h4 class="vacancy-name">{{ n.name }}</h4>
                <div class="vacancy-salary">{{ n.salary }} $</div>
                <p class="vacancy-info">{{ n.info.info|linebreaks }}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="no-vacancies">
            В настоящее время открытых вакансий нет
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}