{% extends "pet_shop/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pet_shop/css/catalog.css' %}">
{% endblock %}
{% block content %}

<div class="catalog-container">
    {% for product in products %}
    <div class="product-card">
        <div class="product-info">
            <h2 class="product-title">{{ product.name }}</h2>
            <p class="product-price">${{ product.price }}</p>
        </div>

        <details>
            <summary>
                <img src="{% static product.pic.url %}" alt="{{ product.name }}" class="product-image">
            </summary>

            <div class="product-info">
                <p class="product-meta">Артикул: {{ product.article }}</p>

                {% if request.user.is_authenticated and request.user.serviceuser.is_employee %}
                    <div class="supplier-info">
                        Поставщик: {{ product.supplier }}
                    </div>
                {% endif %}

                <div class="product-details">
                    <p>Доступно: <span class="product-quantity">{{ product.quantity }} шт.</span></p>
                    <p class="product-description">{{ product.description }}</p>
                </div>

                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'pet_shop:catalog' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.pk }}">
                        <button type="submit" class="add-to-cart-btn">В корзину</button>
                    </form>
                {% else %}
                    <div class="login-prompt">
                        <a href="{% url 'pet_shop:login' %}?next={{ request.path }}">Войдите</a>, чтобы добавить в корзину
                    </div>
                {% endif %}
            </div>
        </details>
    </div>
    {% endfor %}
</div>
{% endblock %}
